$skew1: skewY(50deg);
$skew2: skewY(40deg);

@mixin button-list($rotate: -100deg) {
    .cssplay-menu .segment button:nth-of-type(1) {
        transform: rotate($rotate) $skew1;
    }

    .cssplay-menu .segment button:nth-of-type(2) {
        transform: rotate($rotate + 40) $skew1;
    }

    .cssplay-menu .segment button:nth-of-type(3) {
        transform: rotate($rotate + 40 * 2) $skew1;
    }
}

@mixin button-list2($rotate: -100deg) {
    .cssplay-menu .segment button:nth-of-type(1) {
        transform: rotate($rotate) $skew1;
    }

    .cssplay-menu .segment button:nth-of-type(2) {
        transform: rotate($rotate + 40) $skew1;
    }

    .cssplay-menu .segment button:nth-of-type(3) {
        transform: rotate($rotate + 40 * 2) $skew1;
    }

    .cssplay-menu .segment button:nth-of-type(4) {
        transform: rotate($rotate + 40 * 3) $skew1;
    }
}

@mixin key-position($left, $bottom) {
    left: $left;
    bottom: $bottom;
}

.key-panel {
    &.abc {
        @include key-position(-45px, -70px);
        @include button-list(-165deg);
    }

    &.def {
        @include key-position(-73px, -40px);
        @include button-list(-135deg);
    }

    &.ghi {
        @include key-position(-80px, 0px);
        @include button-list(-100deg);
    }

    &.jkl {
        @include key-position(-67px, 37px);
        @include button-list(-75deg);
    }

    &.mno {
        @include key-position(-34px, 60px);
        @include button-list(-45deg);
    }

    &.pqrs {
        @include key-position(5px, 66px);
        @include button-list2(-30deg);
    }

    &.tuv {
        @include key-position(41px, 46px);
        @include button-list(20deg);
    }

    &.wxyz {
        @include key-position(62px, 11px);
        @include button-list2(30deg);
    }

    &.mark {
        @include key-position(62px, -28px);
        @include button-list2(65deg);
    }

    &.num {
        @include key-position(43px, -62px);
        @include button-list2(100deg);
    }
}
